
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Manrope:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.text-presidio {
  font-family: "Sansita", sans-serif;
  font-weight: 700;  
}

.sansita-regular {
  font-family: "Sansita", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.sansita-bold {
  font-family: "Sansita", sans-serif;
  font-weight: 700;
  font-style: normal;
}

@layer base {
  :root {
    /* Background and Text Colors */
    --background-light: 39 67% 96%; /* Cream color for background */
    --text-dark: 100 33% 16%; /* Forest Green for text */

    /* Brand Colors */
    --primary-color: 100 33% 16%; /* Forest Green */
    --primary-dark: 100 33% 10%; /* Darker Green */

    /* Neutral Colors */
    --neutral-dark: 100 33% 10%;
    --neutral-light: 39 30% 90%;

    /* Accent Colors */
    --accent-green: 100 33% 24%; /* Darker Green for accents */
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-cream text-presidio font-sans;
  }

  /* Typography */
  h1, h2, h3, h4, h5, h6 {
    @apply font-display font-bold text-presidio; /* Use Tailwind classes for display fonts */
  }
}

@layer utilities {
  .presidio-gradient {
    @apply bg-gradient-to-r from-presidio to-presidio-dark;
  }

  .container {
    @apply px-4 md:px-8 lg:px-12;
  }

  .section {
    @apply py-16 md:py-24;
  }

  .section-title {
    @apply text-3xl md:text-4xl font-bold mb-6 md:mb-10 text-presidio;
  }
}
